@media (max-width: 599px)
{
	/*---------------
        Main styles
    ---------------*/
	body{
		font-size: 16px;
	}

	.buy-link{
		font-size: 14px;
		min-width: 130px!important;
		line-height: 44px;
		height: 44px;

		padding: 0 20px;

		margin-top: 30px;
	}

	.buy-link span{
		padding-right: 26px;
	}
	
	.buy-link:before {
		background-size: contain;
		width: 18px;
		height: 8px;
		margin-top: -4px;
		right: 20px;
	}
	button.buy-link {
		padding-right: 40px;
	}
    /*---------------
        Main section
	---------------*/
	.first-section__name {
		font-size: 28px;
		line-height: 28px;
		width: 236px;
	}

	.first-section__link {
		line-height: 42px;
		border-width: 1px;

		margin-top: 30px;
	}

	
	.about-colL{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.about-logo img{
		width: 160px;
	}

	.about-desc{
		max-width: 440px;
		margin-top: 30px;
	}

	.about-desc p{
		margin-bottom: 22px;
	}

	.about-section__link{
		margin-top: 50px;
	}

	.about-colR{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.about-abgImg {
		width: 130px;
		bottom: -27px;
	}


	.product-items{
		position: relative;

		max-width: 280px;
		margin: 40px auto 0;
	}

	.product-items__wrap.flex{
		margin-left: 0;
	}

	.product-item{
		padding: 0 30px 30px;
	}

	.product-item,
	.product-item.middle,
	.product-item.big{
		width: 100%;
		max-width: none;
		margin: 0;
	}

	.product-item__desc{
		max-width: 208px;
		margin-left: auto;
		margin-right: auto;

		min-height: 56px;
	}

	.product-item.middle{
		padding-left: 14px;
		padding-right: 14px;
	}

	.product-item.middle .product-item__desc{
		max-width: none;
	}

	.product-items__next,
	.product-items__prev{
		display: block;
	}

	.swiper-button-disabled,
	.swiper-button-disabled{
		opacity: 0;
	}

	.info-chart{
		width: 420px;
		margin-top: 36px;

		padding-bottom: 150px;
	}

	.info-chart__circle {
		width: 124px;
		height: 124px;
	}

	.info-chart__title {
		font-size: 22px;
		line-height: 26px;
	}

	.info-chart__subtitle{
		font-size: 12px;
		line-height: 14px;
	}

	.info-chart__circle::after {
		bottom: -26px;
		width: 180px;
		height: 94px;
	}

	.info-chart__items{
		height: 210px;
	}

	.info-chart__item1{
		width: 110px;
		height: 104px;

		padding-top: 8px;
	}

	.info-chart__item5{
		width: 110px;
		height: 104px;
		padding-top: 8px;
	}

	.info-chart__item2{
		height: 132px;
		width: 129px;
		left: 38px;
    	top: 60px;
		padding: 26px 0 0 10px;
	}

	.info-chart__item4{
		height: 132px;
		width: 129px;
		right: 38px;
    	top: 60px;
		padding: 26px 3px 0 0;
	}

	.info-chart__item3{
		width: 134px;
		height: 108px;

		margin-left: -67px;

		padding-top: 24px;
	}

	.info-chart__desc {
		width: 150px;
		margin-left: -75px;
		font-size: 12px;
		line-height: 14px;
	}

	.info-chart__item3 .info-chart__desc {
		top: 94px;
	}

	.info-chart__item2 .info-chart__desc {
		margin-left: -70px;
		top: 102px;
	}

	.info-chart__item4 .info-chart__desc {
		top: 102px;
		margin-left: -75px;
	}

	.info-chart__desc span{
		min-height: 72px;
	}


	.product-abgImg1 {
		width: 114px;

		bottom: -20px;
		right: -30px;
	}

	.product-abgImg2{
		display: none;
	}

	.product-abgImg3 {
		width: 106px;

		bottom: -20px;
		right: -20px;
	}

	.product-abgImg4{
		display: none;
	}


	.section-social__title br
    {
        display: inline;
    }
}